/* ============ Для главной ========================================================================= */
.home {
    -fx-background-color: #A8A7A7;
    -fx-background-radius: 11 11 10 10;
}

.header {
    -fx-background-color: #263145;
    -fx-background-radius: 10 10 0 0;
}

.inputbox {
    -fx-background-color: #c7c7c7;
    -fx-background-radius: 0 7 7 7;
    -fx-border-color: #113980;
    -fx-border-radius: 0 7 7 7;
    -fx-border-width: 2;
}

.inputtext {
    -fx-background-color: #403d3d;
    -fx-background-radius: 0 0 5 0;
}

.inputlabel {
    -fx-text-fill: #d4defc;
}

.inputsubtitle {
    -fx-text-fill: #2f324f;
}

/* ============ Кнопки на главной ========================================================================= */

.buttomHover:hover {
    -fx-background-color: #7f91b1;
    -fx-background-radius: 15;
}

.buttonGlav {
    -fx-background-image: url("icon/главная.png");
    -fx-background-size: 80% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}
.buttonGlav:hover {
    -fx-background-color: #D81159;
    -fx-background-radius: 15;
}

.buttonProsmotr {
    -fx-background-image: url("icon/просмотр.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonUstr {
    -fx-background-image: url("icon/устройства.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonArh {
    -fx-background-image: url("./icon/архив.png");
    -fx-background-size: 85% 85%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonArh {
    -fx-background-image: url("./icon/архив.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonZap {
    -fx-background-image: url("icon/онлайнЗапись.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonJur {
    -fx-background-image: url("icon/журнал.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonJurTrev {
    -fx-background-image: url("icon/тревога.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonKonf {
    -fx-background-image: url("icon/конфиг.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonTrev {
    -fx-background-image: url("icon/тревогаПросто.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonTur {
    -fx-background-image: url("icon/тур.png");
    -fx-background-size: 85% 85%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonPolz {
    -fx-background-image: url("icon/пользователи.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonProg {
    -fx-background-image: url("icon/программа.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonMap {
    -fx-background-image: url("icon/карта.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonDec {
    -fx-background-image: url("icon/декодер.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonBek {
    -fx-background-image: url("icon/бэкап.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonProsh {
    -fx-background-image: url("icon/прошивка.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonFonZap {
    -fx-background-image: url("icon/фоноваяЗапись.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.minimizeButton {
    -fx-background-image: url("./icon/minimize.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #263145;
}
.maximizeButton {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #263145;
}
.closeButton {
    -fx-background-image: url("./icon/icon13.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #263145;
}

.closeButton:hover {
    -fx-background-color: #ff0000;
    -fx-background-radius: 15;
}

.maximizeButton:hover {
    -fx-background-color: rgba(171, 213, 233, 0.2);
    -fx-background-radius: 15;
}
.minimizeButton:hover {
    -fx-background-color: rgba(171, 213, 233, 0.2);
    -fx-background-radius: 15;
}

/* ============ Кнопки на главной маленькие ========================================================================= */
.prosmotrSmall {
    -fx-background-image: url("icon/просмотр.png");
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}

.UstSmall {
    -fx-background-image: url("icon/устройства.png");
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}

.prosmotrClose{
    -fx-background-image: url("./icon/icon13.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #263145;

}
.prosmotrClose:hover{
    -fx-background-color: #ff0000;
}
/* ============ Кнопки камер ========================================================================= */
.cam1Btn {
    -fx-background-image: url("./icon/cam1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}
.camBtnHover:hover{
    -fx-background-color: #53A2BE;
}

.cam4Btn {
    -fx-background-image: url("./icon/cam4.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}

.cam1d6Btn {
    -fx-background-image: url("./icon/cam1d6.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}

.cam1d9Btn {
    -fx-background-image: url("./icon/cam1d9.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}

/* ============ Кнопки в устройствах ========================================================================= */

.btnUst {
    -fx-background-radius: 7;
}

.btnUst:hover {
    -fx-background-color: #53A2BE;
    -fx-background-radius: 7;
}

.checkBoxUst:hover {
    -fx-text-fill: #127daa;
}