/* ============ Для главной ========================================================================= */
.home {
    -fx-background-color: #A8A7A7;
    -fx-background-radius: 11 11 10 10;
}

.header {
    -fx-background-color: #263145;
    -fx-background-radius: 10 10 0 0;
}

.inputbox {
    -fx-background-color: #c7c7c7;
    -fx-background-radius: 0 7 7 7;
    -fx-border-color: #113980;
    -fx-border-radius: 0 7 7 7;
    -fx-border-width: 2;
}

.inputtext {
    -fx-background-color: #403d3d;
    -fx-background-radius: 0 0 5 0;
}

.inputlabel {
    -fx-text-fill: #d4defc;
}

.inputsubtitle {
    -fx-text-fill: #2f324f;
}

.notificationPane {
    -fx-background-color: #ff0000;
    -fx-background-radius: 25;
}

.tableViewCenter {
    -fx-text-alignment: center;
}

.choiceBox {
    -fx-font-weight: 700;
    -fx-font-family: Calibri;
    -fx-font-size: 18;
}

/* ============ Кнопки на главной ========================================================================= */

.buttomHover:hover {
    -fx-background-color: #7f91b1;
    -fx-background-radius: 15;
}

.buttonGlav {
    -fx-background-image: url("icon/главная.png");
    -fx-background-size: 80% 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}
.buttonGlav:hover {
    -fx-background-color: #D81159;
    -fx-background-radius: 15;
}

.buttonProsmotr {
    -fx-background-image: url("icon/просмотр.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonUstr {
    -fx-background-image: url("icon/устройства.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonArh {
    -fx-background-image: url("./icon/архив.png");
    -fx-background-size: 85% 85%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonArh {
    -fx-background-image: url("./icon/архив.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonZap {
    -fx-background-image: url("icon/онлайнЗапись.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonJur {
    -fx-background-image: url("icon/журнал.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonJurTrev {
    -fx-background-image: url("icon/тревога.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonTrev {
    -fx-background-image: url("icon/тревогаПросто.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonTur {
    -fx-background-image: url("icon/тур.png");
    -fx-background-size: 85% 85%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonPolz {
    -fx-background-image: url("icon/пользователи.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.buttonProg {
    -fx-background-image: url("icon/программа.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #c7c7c7;
}

.minimizeButton {
    -fx-background-image: url("./icon/minimize.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #263145;
}
.maximizeButton {
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #263145;
}
.closeButton {
    -fx-background-image: url("./icon/icon13.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #263145;
}

.closeButton:hover {
    -fx-background-color: #ff0000;
    -fx-background-radius: 15;
}

.maximizeButton:hover {
    -fx-background-color: rgba(171, 213, 233, 0.2);
    -fx-background-radius: 15;
}
.minimizeButton:hover {
    -fx-background-color: rgba(171, 213, 233, 0.2);
    -fx-background-radius: 15;
}

/* ============ Кнопки на главной маленькие ========================================================================= */

.prosmotrClose{
    -fx-background-image: url("./icon/icon13.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #263145;
}
.prosmotrClose:hover{
    -fx-background-color: #ff0000;
    -fx-background-radius: 15;
}

.buttonSmallHover:hover {
    -fx-background-color: #D81159;
    -fx-background-radius: 10;
}

.prosmotrSmall {
    -fx-background-image: url("icon/просмотр.png");
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}

.UstSmall {
    -fx-background-image: url("icon/устройства.png");
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}

.ArhSmall {
    -fx-background-image: url("icon/архив.png");
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}

.ZapSmall {
    -fx-background-image: url("icon/онлайнЗапись.png");
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}

.JurSmall {
    -fx-background-image: url("icon/журнал.png");
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}

.JurTrevSmall {
    -fx-background-image: url("icon/тревога.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}

.TrevSmall {
    -fx-background-image: url("icon/тревогаПросто.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}

.TurSmall {
    -fx-background-image: url("icon/тур.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}

.PolzSmall {
    -fx-background-image: url("icon/пользователи.png");
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}

.ProgSmall {
    -fx-background-image: url("icon/программа.png");
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #263145;
}

/* ============ Кнопки камер ========================================================================= */

.cam1Btn {
    -fx-background-image: url("./icon/cam1.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}
.camBtnHover:hover{
    -fx-background-color: #53A2BE;
}

.cam4Btn {
    -fx-background-image: url("./icon/cam4.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}

.cam1d6Btn {
    -fx-background-image: url("./icon/cam1d6.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}

.cam1d9Btn {
    -fx-background-image: url("./icon/cam1d9.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}

.cam9Btn {
    -fx-background-image: url("./icon/cam9.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}

.cam1FullBtn {
    -fx-background-image: url("./icon/cam1Full.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}

.camSohrBtn {
    -fx-background-image: url("./icon/camSohr.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}

.camTurBtn {
    -fx-background-image: url("./icon/camTur.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}
.splitBtn{
    -fx-background-image: url("./icon/21.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: rgba(199, 199, 199, 0.71);
}
.splitBtn:hover{
    -fx-background-color: #53A2BE;
}

/* ============ Кнопки для всех вкладок ========================================================================= */

.btnForAllPane {
    -fx-background-radius: 7;
    -fx-border-color: #959090;
    -fx-border-radius: 7;
}
.btnForAllPane:hover {
    -fx-background-color: #53A2BE;
    -fx-background-radius: 7;
}

.checkBoxForAllPane:hover {
    -fx-text-fill: #127daa;
}

.btnForJurTrevLock {
    -fx-background-color: #f25151;
    -fx-background-radius: 15;
}
.btnForJurTrevUnlock {
    -fx-background-color: #3cc645;
    -fx-background-radius: 15;
}
.btnForJurTrevLock:hover {
    -fx-background-color: #ff0000;
    -fx-text-fill: white;
}
.btnForJurTrevUnlock:hover {
    -fx-background-color: #00b222;
    -fx-text-fill: white;
}

.btnForArhRight {
    -fx-background-color: #A8A7A7;
    -fx-background-radius: 7;
    -fx-border-color: black;
    -fx-border-radius: 7;
}

.btnForArhRight:selected {
    -fx-background-color: #9fa3c0;
    -fx-text-fill: #f2ebeb;
}

.buttonOpenFiles {
    -fx-background-image: url("./icon/openFiles.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #132E44;
}

.buttonSlow {
    -fx-background-image: url("./icon/slow.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #132E44;
}

.buttonPrev {
    -fx-background-image: url("./icon/prev.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #132E44;
}
.buttonPlay {
    -fx-background-image: url("./icon/play.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #132E44;
}
.buttonNext {
    -fx-background-image: url("./icon/next.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #132E44;
}
.buttonFast {
    -fx-background-image: url("./icon/fast.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #132E44;
}
.buttonStop {
    -fx-background-image: url("./icon/square.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #132E44;
}

/* ========== anchorPanePolz ==================== */

.boxPolz {
    -fx-background-color: #c7c7c7;
    -fx-background-radius: 10;
    -fx-border-color: #179dc3;
    -fx-border-radius: 10;
    -fx-border-width: 1;
}

.btnPlusPolz {
    -fx-background-image: url("./icon/plusPolz.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #a7a7a7;
}

.btnClosePolz {
    -fx-background-image: url("./icon/icon13.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-color: #c7c7c7;
}

.btnClosePolz:hover {
    -fx-background-color: #ff0000;
    -fx-background-radius: 15;
}
